<div class="container">
    <h1>Правила сервера</h1>
    <h2 style="color: yellow;">CLASSIC</h2>
    <div class="rule">
        <h2>(C1) Запрещена помеха нормальной игре</h2>
        <p>Запрещено наносить урон союзникам, закрывать перед ними двери, совершать суицид, красть вещи в SCP-914 и PT-00.</p>
        <strong>Наказание:</strong> Предупреждение > Бан 1 час
    </div>
    
    <div class="rule">
        <h2>(C2) Запрещена кооперация с враждебным классом</h2>
        <strong>Наказание:</strong> Предупреждение > Бан 3 часа
    </div>
    
    <div class="rule">
        <h2>(C3) Запрещено “кемперить” (поджидать) цель больше 2 минут</h2>
        <p>Запрещено кемперить в области двух комнат от места нахождения других классов.</p>
        <strong>Исключение:</strong> SCP разрешается кемперить ворота А и Б.
        <br>
        <strong>Наказание:</strong> Предупреждение > Бан 1 час
    </div>
    
    <div class="rule">
        <h2>(C4) Запрещено намеренное убийство союзников/нейтральных без причины (Teamkill)</h2>
        <p><strong>Наказание:</strong> Бан 24 часа (За каждого убитого без причины + 24 часа бана).</p>
        <p><strong>Исключение:</strong> Если союзник нарушил правило C1 по отношению к вам.</p>
        <p><strong>Предписание:</strong> Если повстанец Хаоса убил Шпиона по случайности, то выдаётся устное предупреждение.</p>
        <p><strong>Предписание:</strong> Любой нейтральный класс автоматически становится враждебным в случае получения оружия.</p>
        <p><strong>Исключение:</strong> Игрок сбросил своё оружие и сдался.</p>
        <p><strong>Предписание:</strong> Любой связанный класс убивать без причины запрещено.</p>
        <p><strong>Предписание:</strong> Неподчинение приказам или отказ сотрудничества Д-класса / Учёных можно расценивать как попытку побега.</p>
    </div>
    
    <div class="rule">
        <h2>(C4.1) Запрещено намеренное массовое убийство союзников без причины (МТК)</h2>
        <strong>Наказание:</strong> 100 дней бан
    </div>
    
    <div class="rule">
        <h2>(C5) Запрещно развязывать Д-Класс / Учёных при побеге</h2>
        <p>Если это намеренно приведёт к побегу игрока за противоположный класс.</p>
        <p><strong>Добавка:</strong> SCP-999 запрещено развязывать Д-Класс / Учёных.</p>
        <strong>Наказание:</strong> Предупреждение > Бан 1 час
    </div>
    
    <div class="rule">
        <h2>(C6) Запрещно спавн киллить спавн МОГ, или ПХ</h2>
        <p>Запрещено, пока не прошло 5 секунд после спавна.</p>
        <p><strong>Исключение:</strong> Если на сервере более 20 человек, то спавн килл разрешен.</p>
        <strong>Наказание:</strong> Бан на 6 часов
    </div>
    
    <div class="rule">
        <h2>(C7) Запрещена реклама в любом её виде</h2>
        <strong>Наказание:</strong> Предупреждение > Бан на 100 дней
    </div>
    
    <div class="rule">
        <h2>(C8) Запрещены читы, попытка краша сервера</h2>
        <strong>Наказание:</strong> Перманентный бан
    </div>
    
    <div class="rule">
        <h2>(C9) Запрещена чрезмерная токсичность</h2>
        <strong>Наказание:</strong> Предупреждение > Бан 3 часа
        <p><strong>Примечание :</strong> музыку транслировать можно, но если вас просят отключить,вы обязаны отключить музыку.</p>
        <p><strong>Исключение Наказаний:</strong> Многократное оскорбление или же (МТ) Массовая токсичность и слив личной информации карается. Перманентным баном - 50 лет</p>

    </div>
    
    <div class="rule">
        <h2>(C10) Запрещено намеренно задерживать раунд более 2-х минут</h2>
        <strong>Наказание:</strong> Предупреждение > Бан 1 час
    </div>
    
    <div class="rule">
        <h2>(C11) Запрещено находиться в афк более 2-х минут</h2>
        <strong>Наказание:</strong> Кик
    </div>
    
    <div class="rule">
        <h2>(C12) Запрещено призывать игроков к нарушению правил</h2>
        <strong>Наказание:</strong> Предупреждение > Бан 7 дней
    </div>
    
    <div class="rule">
        <h2>(C13) Запрещено обходить выданное вам наказание</h2>
        <strong>Наказание:</strong> Перманентный бан
    </div>
    
    <div class="rule">
        <h2>(C14) Запрещены любые виды коммерческой деятельности на сервере</h2>
        <strong>Наказание:</strong> Перманентный бан
    </div>
    
    <div class="rule">
        <h2>(C15) Запрещено препятствование работе администрации</h2>
        <p><strong>Наказание:</strong> Предупреждение > Бан на день</p>
        <p><strong>Добавка:</strong> Массовое нахождение под башней или стрельба по ней будет считаться как нарушение правила.</p>
        <p><strong>Добавка:</strong> Запрещены идентичные ники как у администрации.</p>
    </div>

    <div class="rule">
        <h2>(C16) Запрещена отправка бессмысленных репортов</h2>
        <strong>Наказание:</strong> Предупреждение > Бан 12 часов
    </div>

    <div class="rule">
        <h2>(C17) Запрещено обсуждение политики, нацизма, NSFW, расизма, религии</h2>
        <strong>Наказание:</strong> Предупреждение > Бан 3 часа
    </div>
</div>
