<section class="about-me-section">
  <div class="about-me-header">About Me</div>
  <div class="about-me-subheader">Little Brief About Myself</div>
  <div class="about-divider"></div>
  <div class="about-me-content">
    <div class="about-me-left">
      My mission is to make design easier.
    </div>
    <div class="about-me-right">
      Create custom Designs with AARONN that converts more visitors than any website. With lots of unique design, you can easily select a logo without hassle. Create custom landing logos with AARONN that converts more visitors than any website. With lots of revisions, you can easily build a logo without porbolem.
    </div>
  </div>
  <div class="about-me-photos">
    <img class="img1" src="https://i.pinimg.com/550x/9d/e4/7c/9de47c536e45705a7e149b2968f052d3.jpg" alt="portrait1">
    <img class="img2" src="https://avatars.dzeninfra.ru/get-zen_doc/51081/pub_5f6a23ad94e9b0682f968469_5f6a2419f42d42685a9c621a/scale_1200" alt="portrait2">
  </div>
  
  <div class="about-socials">
    <p>Follow me on:</p>
    <div class="social-links">
      <div>DRIBBLE</div>
      <div>TWITTER</div>
      <div>FACEBOOK</div>
      <div>INSTAGRAM</div>
    </div>
  </div>
</section>