/* Общие стили */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #ddd;
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/2035107099025972816/AE3B26A4A68813E4D7DF73321587199BD842D91B/?imw=512&amp;imh=288&amp;ima=fit&amp;impolicy=Letterbox&amp;imcolor=%23000000&amp;letterbox=true);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
   
    background-attachment: fixed;
    
}

/* Навигация */
.navb {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: linear-gradient(135deg, #111, #222, #333); /* Более сложный градиент */
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

/* Кнопки */
button {
    background: linear-gradient(135deg, #222, #444);
    color: #ddd;
    border: 1px solid #444;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
    background: linear-gradient(135deg, #444, #666);
    color: white;
    transform: scale(1.05);
}

/* Фон для секций */
section {
    background: linear-gradient(135deg, #1a1a1a, #292929, #333);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    margin: 20px auto;
    width: 80%;
    max-width: 1200px;
}


/* Логотип */
.navb img {
    width: 30px;
    height: 30px;
    filter: brightness(0.7);
}
