<header class="serv">
    <h1>ГЕЙМПЛЕЙ SCP: SECRET LABORATORY</h1>
  </header>
  
  <main>
    <section class="block">
      <h2 class="vozm">Обзор SCP: Secret Laboratory</h2>
      <p>
        SCP: Secret Laboratory — это многопользовательская игра в жанре хоррор, основанная на вселенной SCP. Игроки могут выбрать различные роли, такие как ученые, охранники, Повстанцы Хаоса и аномальные существа SCP, и будут бороться за выживание или господство.
      </p>
    </section>
  
    <section class="block">
      <h2 class="vozm">Роли и цели</h2>
      <ul>
        <li><strong>Ученые:</strong> Задачей Учёных является побег из Комплекса через выход на Поверхность, после чего они появятся как Специалист МОГ. Учёные также могут сбежать, будучи связанными Повстанцами Хаоса, но появится как Призывник Хаоса</li>
        <li><strong>Класс-Д:</strong> Задачей Класса-Д является побег из Комплекса через выход на Поверхность, после чего они появятся как дебилы</li>
        <li><strong>Охранники:</strong> Защищают ученых, сражаются с врагами и предотвращают хаос.</li>
        <li><strong>Повстанцы Хаоса:</strong> Их цель — устроить хаос, освобождая SCP и уничтожая врагов.</li>
        <li><strong>SCP:</strong> Существа с уникальными способностями, стремящиеся истребить всех людей.</li>
      </ul>
    </section>
  
    <section class="block">
      <h2 class="vozm">Известные SCP</h2>
  
      <div class="scp">
        <h3>SCP-173 – Скульптура</h3>
        <p>Мгновенно убивает при потере визуального контакта.</p>
      </div>
  
      <div class="scp">
        <h3>SCP-049 – Чумной Доктор</h3>
        <p>Превращает людей в зомби. Медленный, но крайне опасный вблизи.</p>
      </div>
  
      <div class="scp">
        <h3>SCP-096 – Скромник</h3>
        <p>Атакует любого, кто увидит его лицо. Убежать почти невозможно.</p>
      </div>

      <div class="scp">
        <h3>SCP-079 – Компьютер</h3>
        <p>ИИ, управляющий дверями и помогающий другим SCP.</p>
      </div>

      <div class="scp">
        <h3>SCP-106 – Старик</h3>
        <p>Телепортируется через стены, проходит сквозь двери и ловит жертв в "карманное измерение".</p>
      </div>
    </section>
  
    <section class="block">
      <h2 class="vozm">Цели фракций</h2>
      <ul>
        <li><strong>Фонд (MTF + Учёные):</strong> устранить SCP и хаос, эвакуировать учёных.</li>
        <li><strong>Хаос (П.Х. + D-класс):</strong> убить Силы Фонда и SCP, помочь D-классу сбежать.</li>
        <li><strong>SCP:</strong> убить всех людей.</li>
      </ul>
    </section>
  
    <section class="block">
      <h2 class="vozm">Кастомные роли</h2>
        <ul>
            <li><strong>Ликвидатор мог:</strong></li>
        </ul>
            <p>Роль: Улучшенный боец MTF (появляется в начале игры).</p>
            <p>Цель: Уничтожать SCP и Хаос, защищать учёных.</p>
            <p>Особенности: Спавниться за капитана имеет 250HP и 75AP а также Трёхкратный молекулярный разрушитель. </p>

        <ul>
            <li><strong>ГОК (Глобальная Оккультная Коалиция):</strong></li>
        </ul>
            <p>Роль:  Это организация в вселенной SCP, которая специализируется на защите человечества от паранормального.</p>
            <p>Цель: Уничтожить всё что связанно с комплексом.</p>
            <p>Особенности: Имеют Тяжёлую броню, scp 500 (Панацея), Оружие сержанта МОГ. </p>

        <ul>
            <li><strong>Шпион Хаоса:</strong></li>
        </ul>
            <p>Роль:Член Хаоса, маскируется под учёного.</p>
            <p>Цель:Помогать Хаосу и Д-Классу сбегать из комплекса, параллельно убивая MTF и Охранников изнутри.</p>
            <p>Особенности: Имеет модель учёного и также его вещи но по факту это Д-Класс. </p>

        <ul>
            <li><strong>SCP-999:</strong></li>
        </ul>
            <p>Роль:Дружелюбный SCP Нейтрален ко всем.</p>
            <p>Цель:Помогать игрокам или SCP (По его желанию).</p>
            <p>Особенности: Бессмертный может лечить людей просто стоя рядом с ними имеет милую модельку желе. </p>
    </section>

    <section class="block">
        <h2 class="vozm">Оружия и SCP вещи</h2>
            <ul>
                <li><strong>Micro H.I.D.:</strong> это уникальное экспериментальное энергетическое оружие, Оно способно наносить огромный урон SCP, но требует правильного использования.</li>
                <p>Режим огня:
                    Короткий разряд (лкм удерживать) – быстрый выстрел, малый урон.</p>
                <p>Полный заряд ( пкм удержание) – мощный разряд, основной способ убийства SCP.</p>
                <p>Перезарядка: Требуется время на перезарядку после каждого выстрела.</p>
                <p>Патроны: Имеет процент заряда 100% которое тратится по мере его использования взрывается если слишком долго удерживать пкм.</p>
            </ul>

            <ul>
                <li><strong>Арестант:</strong> Оружие ближнего боя, выглядит как электрическая дубинка которая может быть использована для нанесения 500 суммарного урона. Также эта дубинка игнорирует Броню и Адаптивный Щит.</li>
                <p>Режим огня:
                    лкм удар Арестанта который наносит 50 HP, а пкм (удерживать) заряженный удар наносит 200 HP.</p>
                <p>Патроны:  Арестант сломается при совершении заряженной атаки, он также создаст взрыв, который мгновенно убьёт владельца оружия, и нанесёт большой урон игрокам вокруг, аналогинчо гранате. Понять, что оружие сломается при следующей атаке, можно по красному цвету.</p>
            </ul>

            <ul>
                <li><strong>Трёхкратный Молекулярный Разрушитель:</strong> Это экспериментальный образец оружия в SCP: Secret Laboratory. Это мощная и редкая лазерная винтовка, эффективная как против SCP, так и против людей.</li>
                <p>Режим огня:
                    Brust-Fire стреляет три раза отнимая 500HP.</p>
                <p>Desintegrator стреляет один раз но более мощно отнимая 1000HP </p>
                <p>Менять режим стрельбы можно на колёсико мыши</p>
                <p>Патроны: Молекулярный Разрушитель имеет картриджи их всего 5 персонаж перезаряжает каждый картридж после выстрела.</p>
            </ul>

            
      </section>
  </main>
  
  <script src="script.js"></script>
  