<section class="project-detail" id="project-detail">
  <div class="container mx-auto py-20 px-6">
    <div class="text1">
      <h2>Project Detail</h2>
      <p>Details About The Porject</p>
    </div>
    <div class="flexjustify-center">
      <img src="https://i.ytimg.com/vi/HsvZhbdXX2A/maxresdefault.jpg?sqp=-oaymwEoCIAKENAF8quKqQMcGADwAQH4AbYIgAK4CIoCDAgAEAEYfyBIKBMwDw==&amp;rs=AOn4CLB0-xa6As2lYnv_Rrsr3g6RUGIbng" alt="Project Image" class="rounded-xl shadow-lg w-full max-w-5xl">
        <div class="text1">
            <h3 class="">Project Story</h3>
            <p class="">
                The fact that photography has different meanings to different people is one of the many components of its appeal.
                Photography is such an important part of our life that it is now very difficult to imagine the world without it.
            </p>
            <p class="">
                We cannot imagine a wedding without the opportunity to capture it on film, we would not be able to remember the
                growing up of children or the holidays if we did not have pictures.
            </p>
        </div>
    </div>

    <div class="container">
    <div class="images">
      <img src="https://i.pinimg.com/474x/8f/fa/fc/8ffafcc83c1df180caa350b17097aa2c.jpg?nii=t" alt="Metal Hand">
      <img src="https://avatars.mds.yandex.net/i?id=009999131a2c36dff560c1b90d06e9a0bc452653-4916273-images-thumbs&n=13" alt="Floating Pyramid">
    </div>

    <div class="text1">
      <h2>Day One</h2>
      <p>Everywhere we are haunted by photography in newspapers, magazines, advertisements on television on the Internet, but we still crave even more.</p>
      <p>And what helps to achieve a good result? We will look at these issues and some of the possibilities of photography and explain that it is a combination of thought imagination, visual design, technical skills and organizational skills.</p>
    </div>

    <div class="navigation">
      <a href="#" class="nav left">
        <span class="arrow">⟵</span>
        <span>Previous Work</span>
      </a>
      <a href="#" class="nav right">
        <span>Next Work</span>
        <span class="arrow">⟶</span>
      </a>
    </div>
  </div>
    
  </div>

  <div class="container1">
    <div class="title">Other Projects</div>
    <div class="projects">
      <div class="card">
        <img src="https://images.genius.com/8a94208726aa29d71540e672587df139.800x800x1.jpg" alt="Logo Project 1" />
        <div class="card-content">
          <div class="card-title">Logo Project 1</div>
          <div class="card-subtitle">Branding</div>
        </div>
      </div>
      <div class="card">
        <img src="https://i1.sndcdn.com/artworks-KUhwQ9QN9ogDOI1v-gPRIgQ-t500x500.jpg" alt="Logo Project 2" />
        <div class="card-content">
          <div class="card-title">Logo Project 2</div>
          <div class="card-subtitle">Branding</div>
        </div>
      </div>
      <div class="card">
        <img src="https://danskdesigncenter.imgix.net/wp-content/uploads/2022/11/simon-lee-hbFKxsIqclc-unsplash-scaled.jpg?auto=compress" alt="Logo Project 3" />
        <div class="card-content">
          <div class="card-title">Logo Project 3</div>
          <div class="card-subtitle">Branding</div>
        </div>
      </div>
    </div>
  </div>
</section>

